<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet" />  
  <link href="resources/css/login.css" rel="stylesheet">
  <link href="resources/css/notification.css" rel="stylesheet">
<title>Insert title here</title>
</head>
<body ng-app="myapp">
 <header>

<nav class="navbar navbar-default">
  <div class="container-fluid">
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="collapse-example"
  aria-expanded="false">
  <span Class="sr-only">Toggle navigation</span>
  <span class="icon-bar"></span>
   <span class="icon-bar"></span>
    <span class="icon-bar"></span>
     <span class="icon-bar"></span>
  
  </button>
    <div class="navbar-header">
      <a class="navbar-brand" href="#/"><img src="resources/images/angjs.jpg" width="100%" height="100%"></a>
    </div>
    
    <div class="collapse navbar-collapse" id="collapse-example">
                    <ul class="nav navbar-nav">
                    
                    <li><a href="#/register" ng-show="loggedInUser.firstname==undefined">Sign up</a></li>
                    <li><a href="#/login" ng-show="loggedInUser.firstname==undefined">Sign In</a></li>
                    <li><a href="#/edituserprofile" ng-show="loggedInUser.firstname!==undefined">Edit User Profile</a></li>
                    
                    
                    <li class="dropdown"><a href="" class="dropdown-toggle"
                    data-togglr="dropdown" ng-show="loggedInUser.firstname!=undefined">Job<b class="crate"></b></a>
                    <ul class="dropdown-menu">
                   <!--  <li> <a href="" ng-show="loggedInUser.role=='ADMIN'">Add Job</a></li> -->
                    <li><a href="#/addjob" ng-show="loggedInUser.role=='ADMIN'">Add job</a></li>
                    <li><a href="#/alljobs">Get All Jobs</a></li>
                    </ul></li>
                    
                    
                      <li class="dropdown"><a href="" class="dropdown-toggle"
                    data-togglr="dropdown" ng-show="loggedInUser.firstname!=undefined">Blog<b class="crate"></b></a>
                    <ul class="dropdown-menu">
                   
                    <li><a href="#/addblog" ng-show="loggedInUser.role=='ADMIN'">Add Blog</a></li>
                    <li> <a href="" ng-show="loggedInUser.role=='ADMIN'">Add Blog</a></li>
                    <li><a href="#/blogsnotapproved" ng-show="loggedInUser.role=='ADMIN'">blogs waiting for approval</a></li>
                    <li><a href="/blogsnotapproved">Blogs</a></li>
                    </ul></li>
                    
                    <li class="dropdown">
                    <a href="" class="dropdown-toggle"
                    data-togglr="dropdown" ng-show="loggedInUser.firstname">
                    <span class="glyphicon glyphicon-globe"></span>
                    <span class="rw-number-notification" ng-if="notificationCount>0">{{notificationCount}}</span></a> 
                     <ul class="dropdown-menu">
                     <span class="dropdown-conetnt">
                     <li ng-repeat="notification in notifications" >
                     <a href="#/getnotification/{{notification.id}}">Blog title <b>{{n.blogTitle}}</b>approval status is updated</a>
                     <br>
                     </li>
                     </span>
                     </ul>
                     </li>
                     
                     
                    <li><a href="#"ng-show="loggedInUser.firstname==undefined">Welcome{{ loggedInUser.firstname}}&nbsp;{{loggedInUser.lastname}}</a></li>
                    <li><a href="#/addjob" ng-click="Logout()"ng-show="loggedInUser.firstname==undefined">logout</a></li>
                    </ul>
    </div>
    </div></nav>
    </header>
  
<div ng-view></div>

<script type="text/javascript"
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.js"></script>
	<script type="text/javascript"
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.js"></script>
	<script type="text/javascript"
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-cookies.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="services/userservice.js"></script> 
	<script type="text/javascript" src="controller/usercontroller.js"></script>
	
	 <script type="text/javascript" src="services/jobservice.js"></script> 
	<script type="text/javascript"src="controller/jobcontroller.js"></script>
	<script type="text/javascript" src="services/blogservice.js"></script> 
	<script type="text/javascript"src="controller/blogcontroller.js"></script>
	<script type="text/javascript"src="controller/blogdetailscontroller.js"></script>
	<script type="text/javascript" src="services/notificationservice.js"></script> 
	<script type="text/javascript"src="controller/notificationCtrl.js"></script> 
	</body>
</html>